@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin ease-in($timing) {
  transition: all $timing ease-in-out;
}
