$primary-color: #007fe1;
$secondary-color: #51acb8;
$accent-color: #89c9b6;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #51acb8  ;
$font-weight: (
  "regular": 400,
  "medium": 600,
  "bold": 900,
);
$vertical-padding: 4rem 0;
$assetPath: "../webImages";
